<div class="d-flex row gap-3">
  <h2 class="bg-purple rounded-4 p-4 text-center">Informações do Candidato</h2>
  <%= render partial: "shared/card_profile", locals: { user: @user_program_step.user } %>
  <%= render partial: "shared/card_profile_details", locals: { user: @user_program_step.user, view: true } %>
</div>
<%# lógica para apresentar questionario.. %>
<div class="bg-white rounded-4 p-4 d-flex row gap-3 mt-3" data-controller="candidate">
  <h2 class="text-center">Respostas dos Questionários</h2>
  <div class="accordion" id="stepsQuestionnaries">
    <% if @questions_and_answers.present? %>
      <% @questions_and_answers.each_with_index do |step, index| %>
        <div class="accordion-item" id="step_<%= step[1][:id] %>">
          <h2 class="accordion-header" id="questionnaireHeading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#questionnaireCollapse_<%= index %>" aria-expanded="true" aria-controls="questionnaireCollapse_<%= index %>">
              Questionário <%= step[0] %> (Total de Pontos: <span id="step_<%= step[1][:id] %>_total"><%= step[1][:total_points] %></span>)
            </button>
          </h2>
          <div id="questionnaireCollapse_<%= index %>" class="accordion-collapse collapse" aria-labelledby="questionnaireHeading" data-bs-parent="#stepsQuestionnaries">
            <div class="accordion-body">
              <% sorted_questions = step[1][:questions]&.sort_by { |_, question| question[:id] } %>
              <% sorted_questions&.each do |_, question| %>
                <h5><span class="badge text-bg-secondary"><%= StepQuestion.question_types.key(question[:type]) %></span> <%= question[:title] %></h5>
                <ul>
                  <% question[:answers]&.each do |answer| %>
                    <li class="mb-1">
                      <button data-action="click->candidate#evaluateResponse"
                              class="btn <%= answer[:weight]&.to_i == 0 ? 'btn-danger' : 'btn-primary' %>"
                              data-step-id="<%= step[1][:id] %>"
                              data-answer-id="<%= answer[:id] %>"
                              data-custom-weight="<%= answer[:custom_weight] %>">
                        <%= answer[:weight] %> (<%= answer[:custom_weight] ? 'Atribuida' : 'Padrão' %>)
                      </button>
                      <%= answer[:value] %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Nenhuma resposta disponível.</p>
    <% end %>
  </div>
  <%# if @user_program_step %>
  <%# else %>
  <%#= redirect_to program_path(@program), alert: 'Candidato não encontrado!' %>
  <%# end %>
</div>
