
<%# Colocar isto dinâmico %>
<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right txt-opac"></i>
  <%= link_to yield(:back_link_text), yield(:back_link_path), class: "txt-links-disabled" %>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived"><%= yield(:form_title) %></p>
</div>
<%# Colocar isto dinâmico %>
<h3><%= yield(:form_heading) %></h3>
<div class="card-profile container mt-5" data-controller="datepicker">
  <%= simple_form_for(@program) do |f| %>
    <!-- Upload's photo -->
    <div class="row">
      <div class="col-md-12 mb-3">
        <%= f.label :image, 'Imagem do Programa' %>
        <%= f.file_field :image, label: false, class: 'form-control' %>
      </div>
    </div>
    <!-- Name's program -->
    <div class="mb-3">
      <%= f.input :title, label: "Nome do Programa", input_html: { class: 'form-control bg-white' } %>
    </div>
    <div class="mb-3">
      <%= f.input :preview, label: "Breve Descrição", as: :text, input_html: { class: 'form-control bg-white' } %>
    </div>
    <div class="mb-3">
      <%= f.input :description, label: "Descrição Detalhada", as: :text, input_html: { class: 'form-control bg-white custom-answer-input' } %>
    </div>
    <!-- Group the registration dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :registration_start_date, as: :string, label: "Data de início da inscrição", input_html: { data: { mode: "single" }, class: "datepicker", placeholder: "Selecionar data" } %>
      </div>
      <div class="col">
        <%= f.input :registration_end_date, as: :string, label: "Data de fim da inscrição", input_html: { data: { mode: "single" }, class: "datepicker", placeholder: "Selecionar data" } %>
      </div>
    </div>
    <!-- Group the event dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :begin_date, as: :string, label: "Data de início do programa", input_html: { data: { mode: "single" }, class: "datepicker", placeholder: "Selecionar data" } %>
      </div>
      <div class="col">
        <%= f.input :end_date, as: :string, label: "Data de fim do programa", input_html: { data: { mode: "single" }, class: "datepicker", placeholder: "Selecionar data" } %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.input :registration_limit, label: "Número máximo de candidatos", as: :integer, input_html: { class: 'form-control bg-white' } %>
    </div>
    <div class="form-check form-switch mb-3">
      <%= f.check_box :completed, class: 'form-check-input', id: 'completedSwitch' %>
      <%= f.label :completed, 'Completo', class: 'form-check-label', for: 'completedSwitch' %>
    </div>
    <div class="form-check form-switch mb-3">
      <%= f.check_box :active, class: 'form-check-input', id: 'activeSwitch' %>
      <%= f.label :active, 'Activo', class: 'form-check-label', for: 'activeSwitch' %>
    </div>
    <%= yield(:extra_form_content) %>
    <div class="d-flex align-items-center justify-content-between py-6 px-9">
      <%= link_to program_path(@program.id) do %>
        <%= image_tag "arrow-left.svg" %>
      <% end %>
      <%= f.button :submit, yield(:submit_button_text), class: 'btn-edit-profile' %>
    </div>
  <% end %>
</div>
