<h2>Programs</h2>

<%= link_to 'New Program', new_program_path, class: 'btn btn-primary mb-3' %>

<div class="programs-list">
  <% @programs.each do |program| %>
    <div class="program-card">
      <h3><%= program.title %></h3>
      <p><%= program.description %></p>
      <p>Begin Date: <%= program.begin_date %></p>
      <p>End Date: <%= program.end_date %></p>
    </div>
  <% end %>
</div>
