<h2>Alterar Programa <%= @program.title %></h2>

<div class="container mt-5">
  <%= simple_form_for(@program) do |f| %>
    <div class="mb-3">
      <%= f.input :title, label: "Nome do Programa", input_html: { class: 'form-control bg-white' } %>
    </div>

    <div class="mb-3">
      <%= f.input :description, label: "Descrição", as: :text, input_html: { class: 'form-control bg-white' } %>
    </div>

    <!-- Group the registration dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :registration_start_date,  label: "Data de início da inscrição", as: :date, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :registration_end_date, label: "Data de fim da inscrição", as: :date, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

    <!-- Group the event dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :begin_date, label: "Data de início do programa", as: :date, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :end_date, label: "Data de fim do programa", as: :date, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.input :registration_limit, label: "Número máximo de candidatos", as: :integer, input_html: { class: 'form-control bg-white' } %>
    </div>

    <div class="mb-3 form-check">
      <%= f.input :active, label: "Ativo", as: :boolean, wrapper: false, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input border bg-white' } %>
    </div>

    <div class="mb-3 form-check">
      <%= f.input :completed, label: "Completo", as: :boolean, wrapper: false, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input border bg-white' } %>
    </div>

    <div class="mb-3">
      <%= f.button :submit, 'Atualizar Programa', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'Voltar para detalhes do Programa', program_path(@program), class: 'btn btn-secondary mt-3' %>
</div>
