<div class="container mt-5">
  <%= simple_form_for(@program) do |f| %>

    <div class="mb-3">
      <%= f.input :title, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :description, as: :text, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :registration_start_date, as: :date, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :registration_end_date, as: :date, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :begin_date, as: :date, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :end_date, as: :date, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= f.input :registration_limit, as: :integer, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3 form-check">
      <%= f.input :active, as: :boolean, input_html: { class: 'form-check-input' } %>
    </div>

    <div class="mb-3 form-check">
      <%= f.input :completed, as: :boolean, input_html: { class: 'form-check-input' } %>
    </div>

    <div class="mb-3">
      <%= f.button :submit, 'Create Program', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
