<%# Colocar isto dinamico %>
<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Programas</p>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Novo Programa</p>
</div>
<%# Colocar isto dinamico %>

<h3>Novo Programa</h3>

<div class="card-profile container mt-5">
  <%= simple_form_for(@program) do |f| %>
    <div class="mb-3">
      <%= f.input :title, label: "Nome do Programa", input_html: { class: 'form-control bg-white' } %>
    </div>
    <div class="mb-3">
      <%= f.input :description, label: "Descrição", as: :text, input_html: { class: 'form-control bg-white' } %>
    </div>

    <!-- Group the registration dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :registration_start_date, as: :string, label: "Data de início da inscrição", input_html: { data: { controller: "datepicker"}, placeholder: "Selecionar data" } %>
      </div>
      <div class="col">
        <%= f.input :registration_end_date, as: :string, label: "Data de fim da inscrição", input_html: { data: { controller: "datepicker"}, placeholder: "Selecionar data" } %>
      </div>
    </div>

    <!-- Group the event dates -->
    <div class="row mb-3">
      <div class="col">
        <%= f.input :begin_date, as: :string, label: "Data de início do programa", input_html: { data: { controller: "datepicker"}, placeholder: "Selecionar data" } %>
      </div>
      <div class="col">
        <%= f.input :end_date, as: :string, label: "Data de fim do programa", input_html: { data: { controller: "datepicker"}, placeholder: "Selecionar data" } %>
      </div>
    </div>
    
    <div class="mb-3">
      <%= f.input :registration_limit, label: "Número máximo de candidatos", as: :integer, input_html: { class: 'form-control bg-white' } %>
    </div>
    <div class="mb-3 form-check">
      <%= f.input :active, label: "Ativo", as: :boolean, wrapper: false, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input border bg-white' } %>
    </div>
    <div class="mb-3 form-check">
      <%= f.input :completed, label: "Completo", as: :boolean, wrapper: false, label_html: { class: 'form-check-label' }, input_html: { class: 'form-check-input border bg-white' } %>
    </div>
    <div class="d-flex align-items-end justify-content-end">
      <%= f.button :submit, 'Criar Programa', class: "btn-edit-profile" %>
    </div>
  <% end %>
</div>
