<%= render "shared/card_program_details" %>
<div class="tab-content">
  <div class="row tab-pane fade show active" role="tabpanel" id="tab-steps">
    <div class="d-flex justify-content-end">
      <% if policy(Step).create? %>
        <%= link_to "Criar Step", new_program_step_path(@program), class: "btn-edit-profile text-decoration-none mt-3" %>
      <% end %>
    </div>
    <div class="d-flex row m-0 p-0">
      <% @program.steps.sort_by(&:step_order).each do |step| %>
        <div class="steps-card col-md-4 mb-4 mt-5">
          <div class="card h-100 bg-white rounded-4 d-flex flex-column">
            <div class="card-body flex-grow-1">
              <div class="d-flex justify-content-between align-items-center">
                <%= image_tag "logotype_web.png", class: "" %>
                <p class="badge bg-primary h-100 m-0">In Progress</p>
              </div>
              <div class="card-title-dashboard d-flex justify-content-between align-items-center">
                <h4><%= step.name %></h4>
              </div>
              <p class="card-sub-title-dashboard"><%= step.description %></p>
              <%# <p>Debug: <%= step.dates.inspect</p> %>
              <% if step.dates.present? %>
                <% grouped_dates = step.dates.compact.group_by { |date| date.strftime('%B') } %>
                <% sessions_strings = grouped_dates.map do |month, dates|

                  days = dates.map { |date| date.day }.compact.uniq.sort
                  next if days.empty?
                  formatted_days = if days.length == 1
                                     days.first.to_s
                                   else
                                     days[0...-1].join(', ') + " e #{days.last}"
                                   end

                  "🗓️ #{formatted_days} de #{t(month.downcase, locale: :pt)}"
                end.reject(&:nil?).join('<br>').html_safe %>

                <%= sessions_strings %>
              <% end %>
              <div class="d-flex gap-2 mt-2">
                <%= image_tag "time.png", class: "" %>
                <p class="m-0"><strong>Início:</strong> <%= step.hour_start.strftime('%H:%M') if step.hour_start %>
                  <strong>| Fim:</strong> <%= step.hour_finish.strftime('%H:%M') if step.hour_finish %></p>
              </div>
            </div>
            <!-- Adding the icon link to the bottom right of the card using Bootstrap -->
            <div class="card-footer border-0 bg-transparent text-end m-2">
              <%= link_to program_step_path(step.program, step) do %>
                <%= image_tag "arrow-right.svg" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# next tab %>
  <div class="row tab-pane fade bg-white rounded-4 m-1 mt-5" role="tabpanel" id="tab-attributes" data-controller="attribute">
    <div class="d-flex justify-content-end">
      <% if policy(Step).create? %>
        <button type="button" data-action="attribute#addNewRow" class="btn-edit-profile text-decoration-none mt-3 mb-3">Adicionar
          Atributo
        </button>
      <% end %>
    </div>
    <div class="d-flex row m-0 p-0">
      <div data-attribute-target="attributeTable" data-program-id='<%= @program.id %>'
           data-source-url='<%= attributes_table_data_path(@program.id) %>'
           data-save-attribute-url='<%= save_attribute_path(@program.id) %>'>
      </div>
    </div>
  </div>
  <%# next tab candidates %>
  <div class="row tab-pane fade bg-white rounded-4 m-1 mt-5 p-1" role="tabpanel" id="tab-candidates" data-controller="candidate">
    <div class="d-flex justify-content-end">
      <% if policy(Step).create? %>
        <button type="button" data-action="attribute#addNewRow" class="btn-edit-profile text-decoration-none mt-3 mb-3">Configuração</button>
      <% end %>
    </div>
    <div class="d-flex row m-0 p-0 ">
      <div data-candidate-target="candidateTable"
           data-program-id='<%= @program.id %>'
           data-source-url='<%= candidates_table_data_path(@program.id) %>'
           data-steps-url='<%= steps_table_data_path(@program.id) %>'
           data-update-step-url='<%= update_step_candidate_path(@program.id) %>'
      ></div>
    </div>
  </div>
  <div class="row tab-pane fade m-1 mt-5" role="tabpanel" id="tab-events" data-controller="event">

     <div class="programs-list row">
        <% if @program_events.any? %>
          <% @program_events.each do |event| %>
            <!-- Event Card Start -->
            <div class="program-card col-md-4 mb-4">
              <div class="card h-100 bg-white rounded-4 d-flex flex-column pt-3">
                <div class="card-body flex-grow-1">
                  <div class="text-center">
                    <%= image_tag event.image.attached? ? url_for(event.image) : "logotype_web.png", class: "align-self-start mr-auto event-logo" %>
                    <div>
                      <div class="text-center mt-2">
                        <% if event.status == "agendado" %>
                          <span class="badge bg-success">Agendado</span>
                        <% elsif event.status == "terminado" %>
                          <span class="badge bg-danger">Terminado</span>
                        <% end %>
                      </div>
                      <h3 class="mx-auto mt-2"><%= event.title %></h3>
                    </div>
                  </div>

                <p class="card-sub-title-dashboard mt-3 mb-3"><%= event.description.truncate(50) %></p>

                <div class="d-flex gap-2 align-items-center">
                  <%= image_tag "date_range.png" %>
                  <p class="m-0 card-sub-title-dashboard"><strong>Data do Evento:</strong> <%= event.date.strftime('%d/%m/%Y') %></p>
                </div>

                  <p class="mt-3"><strong>Formato:</strong> <span class="card-sub-title-dashboard"><%= event.event_type.capitalize %></span></p>

                  <div class="text-end m-2 pt-3">
                    <%= link_to event_path(event) do %>
                      <%= image_tag "arrow-right.svg" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Event Card End -->
          <% end %>
        <% else %>
          <p class="text-center">Não há eventos agendados.</p>
        <% end %>
      </div>
  </div>
  <%# next tab galeria %>
  <div class="row tab-pane fade m-1 mt-5" role="tabpanel" id="tab-gallery" data-controller="gallery">

    <h3 class="text-center mt-5">TODO : Place program posts here</h3>

  </div>
</div>
<!-- Botão de cancelar programa -->
<% if policy(Program).new? %>
  <div class="d-flex align-items-end justify-content-end bg-white rounded-4 p-3 mt-5">
    <%= link_to "Excluir programa", program_path(@program), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o programa de #{@program.title}?" }, class: "btn-cancel" %>
  </div>
<% end %>
