<div class="bg-white rounded-4 p-3">
  <h2><%= @program.title %></h2>
  <p><%= @program.description %></p>
  <div class="row mb-3">
    <div class="col">
      <p>Data de início da inscrição : <%= @program.registration_start_date %></p>
    </div>
    <div class="col">
      <p>Data de fim da inscrição : <%= @program.registration_end_date %></p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <p>Data de início : <%= @program.begin_date %></p>
    </div>
    <div class="col">
      <p>Data de fim: <%= @program.end_date %></p>
    </div>
  </div>
  <p>Número máximo de candidatos: <%= @program.registration_limit %></p>
  <p>Activo: <%= @program.active ? "Sim" : "Não" %></p>
  <p>Completo: <%= !@program.completed ? "Programa a decorrer" : "Programa finalizado" %></p>

  <div class="d-flex justify-content-between align-items-center">
    <%= link_to 'Regressar a Lista de Programas', programs_path, class: 'btn btn-primary mt-3' %>
    <%= link_to "Editar Programa", edit_program_path(@program), class: "btn btn-secondary mt-3" %>
    <%= link_to "Cancelar", program_path(@program), method: :delete, data: { confirm: 'Tem a certeza que pretende cancelar o programa de #{@program.title}?' }, class: "btn btn-danger mt-3" %>
  </div>
</div>


<%# <%= form_with url: program_path(@program), method: :delete do %>
  <%# <%= submit_tag "Delete", data: { confirm: "Are you sure you want to delete the program titled: #{@program.title}?" }, class: "btn btn-danger" %>
<%# <% end %> 
