<%= render "shared/card_program_details" %>
<div class="steps-list row">
  <% @program.steps.sort_by(&:step_order).each do |step| %>
    <div class="steps-card col-md-4 mb-4 mt-5">
      <div class="card h-100 bg-white rounded-4 d-flex flex-column">
        <div class="card-body flex-grow-1">
          <div class="d-flex justify-content-between align-items-center">
            <%= image_tag "logotype_web.png", class: "" %>
            <p class="badge bg-primary h-100 m-0">In Progress</p>
          </div>
          <div class="card-title-dashboard d-flex justify-content-between align-items-center">
            <h4><%= step.name %></h4>
          </div>
          <p class="card-sub-title-dashboard"><%= step.description %></p>
          <%# <p>Debug: <%= step.dates.inspect</p> %>
          <% if step.dates.present? %>
            <% grouped_dates = step.dates.compact.group_by { |date| date.strftime('%B') } %>
            <% sessions_strings = grouped_dates.map do |month, dates|
              days = dates.map { |date| date.day }.compact.uniq.sort
              next if days.empty?
              formatted_days = if days.length == 1
                days.first.to_s
              else
                days[0...-1].join(', ') + " e #{days.last}"
              end
              
              "🗓️ #{formatted_days} de #{t(month.downcase, locale: :pt)}"
            end.reject(&:nil?).join('<br>').html_safe %>
            <%= sessions_strings %>
          <% end %>
          <div class="d-flex gap-2 mt-2">
            <%= image_tag "time.png", class: "" %>
            <p class="m-0"><strong>Início:</strong> <%= step.hour_start.strftime('%H:%M') if step.hour_start %> <strong>| Fim:</strong> <%= step.hour_finish.strftime('%H:%M') if step.hour_finish %></p>
          </div>
        </div>
        <!-- Adding the icon link to the bottom right of the card using Bootstrap -->
        <div class="card-footer border-0 bg-transparent text-end m-2">
          <%= link_to program_step_path(step.program, step) do %>
            <%= image_tag "arrow-right.svg" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Botão de cancelar programa -->
<div class="d-flex align-items-end justify-content-end bg-white rounded-4 p-3 mt-5">
  <%= link_to "Excluir programa", program_path(@program), data: {turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o programa de #{@program.title}?" }, class: "btn-cancel" %>
</div>
