<div class="card-details-profile d-flex gap-3">
    <div class="d-flex align-items-center justify-content-between line-bottom">
        <p class="m-0 fw-bold">Profile Details</p>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="reset" class="btn btn-light btn-active-light-primary me-2">Descartar</button>
            <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Salvar mudanças</button>
        </div>
    </div>

    <%= simple_form_for :user_profile, method: :post do |f| %>
    <!-- Nome -->
        <div class="d-flex">
        <div class="col-md-6">
            <%= f.input :first_name, label: 'Primeiro Nome', required: true %>
        </div>
        <div class="col-md-6">
            <%= f.input :last_name, label: 'Último Nome', required: true %>
        </div>
        </div>
        <!-- Email -->
        <%= f.input :email, label: 'Email', required: true %>
        <!-- Contato Telefônico -->
        <%= f.input :phone, label: 'Contato Telefônico', required: true %>
        <!-- País -->
        <%= f.input :country, label: 'País', collection: ['Portugal'], prompt: 'Selecione um país', required: true %>
        <!-- Cidade -->
        <%= f.input :city, label: 'Cidade', collection: ['Lisboa'], prompt: 'Selecione uma cidade', required: true %>
        <!-- Sobre Mim -->
        <%= f.input :about, label: 'Sobre Mim', as: :text, input_html: { rows: 4 } %>
    <% end %>

    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="reset" class="btn btn-light btn-active-light-primary me-2">Desativar conta</button>
    </div>
</div>
