<div class="card-details-profile d-flex gap-3">
  <div class="d-flex align-items-center justify-content-between line-bottom">
    <p class="m-0 fw-bold mb-4">Perfil - Detalhes</p>
  </div>
  <%= simple_form_for @user, url: user_settings_path, local: true, method: :patch, html: { enctype: 'multipart/form-data' }  do |f| %>
    <!-- Upload de Foto -->
    <div class="row">
      <div class="col-md-12 mb-3">
        <%= f.label :avatar, 'Foto do Perfil' %>
        <%= f.file_field :avatar, label: false, class: 'form-control' %>
      </div>
    </div>
    <!-- Nome -->
    <div class="row">
      <div class="col-md-12">
        <%= f.label :name, 'Nome completo' %>
        <%= f.input :name, required: true, label: false, input_html: { class: 'form-control bg-white' }%>
      </div>
    </div>
    <div class="row">
      <!-- Gender -->
      <div class="col-md-6">
        <%= f.label :gender, 'Género' %>
        <%= f.input :gender, as: :select, collection: User.genders.keys, prompt: 'Selecione um género', required: true, label: false, input_html: { class: 'form-control bg-white' } %>
      </div>
      <!-- Birth Date -->
      <div class="col-md-6">
        <%= f.label :birth_date, 'Data de Nascimento' %>
        <%= f.input :birth_date, as: :string, required: true, label: false,
                    input_html: {
                      class: 'form-control bg-white',
                      data: { birthdate_picker_target: "birthDate", controller: "birthdate-picker" },
                      value: @user.birth_date.strftime("%d/%m/%Y")
                    } %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Email -->
        <%= f.label :email, 'Email' %>
        <%= f.input :email, required: true, label: false, input_html: { class: 'form-control bg-white' }%>
      </div>
      <div class="col-md-6">
        <!-- Contato Telefônico -->
        <%= f.label :phone, 'Contato Telemóvel' %>
        <%= f.input :phone, required: true, label: false, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- País -->
        <%= f.label :country, 'País' %>
        <%= f.input :country,  as: :select, collection: User.countries.keys, prompt: 'Selecione um país', required: true, label: false, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col-md-6">
        <!-- Cidade -->
        <%= f.label :city, 'Cidade' %>
        <%= f.input :city,  as: :select, collection: User.cities.keys, prompt: 'Selecione uma cidade', required: true, label: false, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>
    <!-- Sobre Mim -->
    <%= f.label :about_me, 'Sobre Mim' %>
    <%= f.input :about_me, as: :text, input_html: { rows: 4 }, label: false, input_html: { class: 'form-control bg-white' } %>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <%= f.submit "Salvar Alterações", data: { confirm: 'Você tem certeza?' }, class: "btn-edit-profile" %>
    </div>
  <% end %>
</div>
<!-- Botão de cancelar conta -->
<%# <div class="card-details-profile d-flex justify-content-end my-5 py-6 px-9">
    <button type="reset" class="btn-cancel">Desativar conta</button>
</div> %>
