<div class="card bg-purple rounded-4 mb-3 p-3">
  <div class="card-header bg-transparent">
    <div class= "d-flex justify-content-between align-items-center bg-transparent border-bottom">
      <div class="d-flex align-items-baseline mb-1">
        <h5 class="post-txt-home py-2"><%= post.title %></h5>
        <% if post.step.present? %>
          <p class="mb-0"><%= post.step.name %></p>
        <% end %>
      </div>
      <% if post.step.present? %>
        <h6 class="mb-0"><%= post.step.program.title %></h6>
      <% end %>
      <% if post.program.present? %>
        <h6 class="mb-0"><%= post.program.title %></h6>
      <% end %>
    </div>
  </div>
  <div class="card-body post-txt-home">
    <% if post.event.present? %>
      <p class="m-0">Evento: <%= post.event.title %></p>
    <% end %>
    <p class="m-0"><%= post.body %></p>
  </div>
  <% if post.media_contents.attached? %>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <% post.media_contents.each do |media_content| %>
        <% content_url = url_for(media_content) %>
        <% content_type = media_content.content_type.start_with?('image/') ? "image" : "video" %>
        <%= link_to "#",
                    data: {
                      action: "click->media-modal#show",
                      media_modal_content_url: content_url,
                      media_modal_content_type: content_type,
                      media_modal_target: modal_id
                    } do %>
          <% if media_content.content_type.start_with?('image/') %>
            <%= image_tag(media_content, class: "media m-2") %>
          <% elsif media_content.content_type.start_with?('video/') %>
            <video controls class="media-thumbnail m-2">
              <source src="<%= content_url %>" type="<%= media_content.content_type %>">
              Your browser does not support the video tag.
            </video>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
