<div class="card-profile container mt-3" data-controller="datepicker">
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= simple_form_for @event do |f| %>

    <div class="mb-3">
      <%= f.input :image, as: :file, label: "Adicionar Imagem ao Evento", input_html: { class: 'form-control bg-white' } %>
      <% if @event.image.attached? %>
        <p>Imagem Actual:</p>
        <%= image_tag @event.image, class: 'img-preview' %>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.input :title, label: "Titulo do Evento", input_html: { class: 'form-control bg-white' } %>
    </div>

    <div class="mb-3">
      <%= f.input :description, label: "Descrição do Evento", as: :text, input_html: { class: 'form-control bg-white' } %>
    </div>

    <%= f.input :date, as: :string, label: "Data do Evento", input_html: { data: { mode: "single"}, class: "datepicker", placeholder: "Selecionar data do evento" } %>

    <div class="row mb-3">
      <div class="col">
        <%= f.input :hour_start, label: "Hora de inicio do evento", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :hour_finish, label: "Hora de fim do evento", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

    <%# <%= f.input :status, label: "Status", collection: [['Agendado', 'agendado'], ['Terminado', 'terminado']], prompt: "Selecione um status", input_html: { class: 'form-control bg-white' } %>

    <div class="mb-3">
      <%= f.label :status, "Status do Evento" %>

      <div>
        <%= f.collection_radio_buttons :status, [['Agendado', 'agendado'], ['Terminado', 'terminado']], :last, :first, item_wrapper_tag: false do |b| %>
          <div class="form-check form-check-inline">
            <%= b.radio_button class: "form-check-input", checked: b.value == 'agendado' %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>


    <%# <%= f.input :event_type, label: "Formato", collection: [['Online', 'online'], ['Presencial', 'presencial']], prompt: "Selecione um formato", input_html: { class: 'form-control bg-white' } %>

    <div class="mb-3">
        <%= f.label :event_type, "Formato do Evento" %>

        <div data-controller="toggle-hidden" data-toggle-hidden-selected-value="online">
          <%= f.collection_radio_buttons :event_type, [['Online', 'online'], ['Presencial', 'presencial']], :last, :first, item_wrapper_tag: false do |b| %>
            <div class="form-check form-check-inline">
              <%= b.radio_button class: "form-check-input", data: { action: "change->toggle-hidden#handleEventChange" } %>
              <%= b.label class: "form-check-label" %>
            </div>
          <% end %>

          <div data-toggle-hidden-target="element" class="hidden mt-2">
            <%= f.input :event_link, label: "Link do Evento", input_html: { class: 'form-control bg-white' } %>
          </div>

          <div data-toggle-hidden-target="element" class="hidden mt-2">
            <%= f.input :event_location, label: "Localização do Evento", input_html: { class: 'form-control bg-white' } %>
          </div>
        </div>
    </div>


    <%= f.association :program, collection: @programs, label_method: :title, value_method: :id, prompt: "Nenhum (Sem associação a um programa)" %>

    <%= f.association :step,
    collection: @programs.map(&:steps).flatten,
    label_method: :name_with_order,
    value_method: :id,
    prompt: "Nenhum (Sem associação a um Step)",
    group_method: :program %>


    <div class="d-flex justify-content-between py-6 px-9">

      <div class="text-end m-2 pt-3">
        <%= link_to events_path do %>
          <%= image_tag "arrow-left.svg" %>
        <% end %>
      </div>

      <%= f.button :submit, @event.new_record? ? 'Criar Evento' : 'Atualizar Evento', class: "btn-edit-profile" %>
    </div>

  <% end %>

</div>
