<h1>Novo evento</h1>
<%= simple_form_for @event do |f| %>

  <%= f.input :title %>

  <%= f.input :description, as: :text %>

  <%= f.input :date, as: :date %>

    <div class="row mb-3">
      <div class="col">
        <%= f.input :hour_start, label: "Hora de inicio do evento", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :hour_finish, label: "Hora de fim do evento", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

  <%= f.input :status, collection: [['Scheduled', 'scheduled'], ['Closed', 'closed']] %>

  <%= f.input :event_type, collection: [['Online', 'online'], ['In Person', 'in_person']] %>

  <%= f.association :program, collection: @programs, label_method: :title, value_method: :id, include_blank: true %>

  <%= f.association :step, collection: @programs.map { |program| program.steps }.flatten, label_method: :name, value_method: :id, include_blank: true, group_method: :program %>

  <%= f.button :submit, "Create Event" %>

<% end %>
