<div class="d-flex align-items-center gap-3 mb-3">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right txt-opac"></i>
  <%= link_to "Eventos", events_path, class:"txt-links-disabled" %>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Detalhes do Evento</p>
</div>

<h3 class="mb-5 mt-5">Evento</h3>

<div class="bg-white rounded-4 p-3 mb-2">
  <div class="d-flex gap-4">

    <div class="d-flex flex-column justify-content-between">
      <%= image_tag @event.image.attached? ? url_for(@event.image) : "image_web_details.png", class: "event-image" %>

      <div class="text-start m-2 pt-3">
        <% if @event.program.present? %>
          <%= link_to program_path(@event.program) do %>
            <%= image_tag "arrow-left.svg" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex-grow-1">
      <div class="d-flex justify-content-between gap-3">
        <div class="d-flex align-items-center justify-content-start gap-4">
          <h5 class="mb-0">
            <%= @event.title %>
          </h5>
          <div class="align-self-start">
            <% if @event.status == "agendado" %>
              <span class="badge bg-success">Agendado</span>
            <% elsif @event.status == "terminado" %>
              <span class="badge bg-danger">Terminado</span>
            <% end %>
          </div>
        </div>

        <% if policy(@event).edit? %>
          <div class=" d-flex gap-2">
            <%= link_to edit_event_path(@event), class: 'btn-icon-purple me-2' do %>
              <i class="fa-regular fa-pen-to-square" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar Evento"></i>
            <% end %>
            <%= link_to event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o evento #{@event.title}?"}, class: 'btn-cancel me-2' do %>
              <i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar Evento"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <p class="card-sub-title-dashboard mt-3 mb-3"><%= @event.description %></p>

      <div class="d-flex col mb-4">
        <div class="d-flex col gap-2">
          <div class="d-flex gap-2 align-items-center">
            <%= image_tag "date_range.png" %>
            <p class="m-0 card-sub-title-dashboard"><strong>Data do Evento:</strong> <%= @event.date.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <%= image_tag "time.png", class: "" %>
            <p class="m-0 card-sub-title-dashboard">
              <% if @event.hour_start && @event.hour_finish %>
              <strong>Início:</strong> <%= @event.hour_start.strftime('%H:%M') %>
              <strong>| Fim:</strong> <%= @event.hour_finish.strftime('%H:%M') %>h
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <p><strong>Formato:</strong> <span class="card-sub-title-dashboard"><%= @event.event_type.capitalize %></span></p>

      <% if @event.program || @event.step %>
        <div>
          <% if @event.program %>
            <p><strong>Programa associado:</strong> <span class="card-sub-title-dashboard"><%= @event.program.title %></span> </p>
          <% end %>
          <% if @event.step %>
            <p><strong>Step associado:</strong> <span class="card-sub-title-dashboard"><%= @event.step.name_with_order %></span> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if policy(@event).edit? %>
    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link position-relative active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Inscritos no evento
                <span class="badge rounded-pill bg-success position-absolute" style="top: 1; right: 1; transform: translate(20%, -20%);">
                  <%= @event.users.count %>
                  <span class="visually-hidden">inscritos no evento</span>
                </span>
              </button>
            </li>
        </ul>
    </div>
  <% end %>
</div>

<% if policy(@event).participate? && @event.agendado?%>
  <div class="d-flex justify-content-end">
    <div>
      <% if @event.users.include?(current_user) %>
        <p>Já se encontra inscrito neste evento!</p>
        <%= button_to 'Remover inscrição no evento', unregister_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
      <% else %>
        <%= button_to 'Participar neste evento', participate_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-start mt-2 mb-3 pt-3">
  <%= link_to events_path do %>
    <%= image_tag "arrow_left.png" %>
  <% end %>
</div>

<% if policy(@event).edit? %>
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p><strong>Total de inscritos no evento:</strong> <%= @event.users.count %></p>

    <!-- Table starts here -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Programa</th>
        </tr>
      </thead>
      <tbody>
        <% @event.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% user_program = user.programs.find_by(id: @event.program_id) %>
              <% if user_program %>
                <%= user_program.title %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- Table ends here -->
  </div>
</div>
<% end %>

