<div class="d-flex align-items-center gap-3 mb-3">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Eventos</p>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Detalhes</p>
</div>

<h3 class="mb-5">Evento</h3>

<div class="bg-white rounded-4 p-3 mb-4 d-flex gap-5">
  <div>
    <%= image_tag "image_web_details.png", class: "some css class here" %>
  </div>

  <div class="flex-grow-1">
    <div class="d-flex justify-content-between gap-3">
      <div class="d-flex col align-items-center gap-2">
        <h5><%= @event.title %></h5>
        <%= image_tag "tag_badges_complete.svg" %>
      </div>

      <% if policy(@event).edit? %>
        <%= link_to "Editar Evento", edit_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
        <%= link_to "Excluir Evento", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o evento #{@event.title}?" }, class: "btn-cancel" %>
      <% end %>
    </div>

    <p class="card-sub-title-dashboard mb-3"><%= @event.description %></p>

    <div class="d-flex col mb-4">
      <div class="d-flex col gap-2">
        <div class="d-flex gap-2 align-items-center">
          <%= image_tag "date_range.png" %>
          <p class="m-0 card-sub-title-dashboard"><strong>Data do Evento:</strong> <%= @event.date.strftime('%d/%m/%Y') %></p>
        </div>
        <div class="d-flex gap-2 align-items-center">
          <%= image_tag "time.png", class: "" %>
          <p class="m-0 card-sub-title-dashboard">
            <% if @event.hour_start && @event.hour_finish %>
            <strong>Início:</strong> <%= @event.hour_start.strftime('%H:%M') %>
            <strong>| Fim:</strong> <%= @event.hour_finish.strftime('%H:%M') %>h
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <p><strong>Formato:</strong> <%= @event.event_type.capitalize %></p>

    <p><strong>Status:</strong> <%= @event.status.capitalize %></p>

    <% if @event.program || @event.step %>
      <div>
        <% if @event.program %>
          <p><strong>Programa associado:</strong> <%= @event.program.title %></p>
        <% end %>
        <% if @event.step %>
          <p><strong>Step associado:</strong> <%= @event.step.name %></p>
        <% end %>
      </div>
    <% end %>

  </div>

</div>


<div class="d-flex justify-content-between align-items-center">
  <%= link_to events_path do %>
    <%= image_tag "arrow_left.png" %>
  <% end %>
  <div>
    <% if @event.users.include?(current_user) %>
      <p>Já se encontra inscrito neste evento!</p>
      <%= button_to 'Remover inscrição no evento', unregister_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
    <% else %>
      <%= button_to 'Participar neste evento', participate_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
    <% end %>
  </div>
</div>

<% if policy(@event).edit? %> <!-- Use the `edit?` policy check to determine if the user is an admin -->
  <div data-controller="toggle-hidden">
    <button class="btn btn-edit-profile position-relative mt-3" data-action="toggle-hidden#toggle">
      Mostrar inscritos no evento
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <%= @event.users.count %>
        <span class="visually-hidden">inscritos no evento</span>
      </span>
    </button>

    <!-- This is the container that holds the list of registered users. It's initially hidden -->
    <div data-toggle-hidden-target="element" class="hidden mt-2">
      <% @event.users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    </div>
  </div>
<% end %>
