<div class="d-flex align-items-center gap-3 mb-3">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Eventos</p>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Detalhes</p>
</div>

<h3 class="mb-5">Evento</h3>

<div class="bg-white rounded-4 p-3 mb-4">
  <div class="d-flex gap-5">

    <div class="d-flex flex-column justify-content-between">
        <%= image_tag "image_web_details.png", class: "some css class here" %>
        <div class="text-start m-2 pt-3">
          <%= link_to events_path do %>
            <%= image_tag "arrow-left.svg" %>
          <% end %>
        </div>
    </div>

    <div class="flex-grow-1">
      <div class="d-flex justify-content-between gap-3">
        <div class="d-flex align-items-center justify-content-start gap-4">
          <h5 class="mb-0">
            <%= @event.title %>
          </h5>
          <div class="align-self-start">
            <% if @event.status == "agendado" %>
              <span class="badge bg-success">Agendado</span>
            <% elsif @event.status == "terminado" %>
              <span class="badge bg-danger">Terminado</span>
            <% end %>
          </div>
        </div>

        <% if policy(@event).edit? %>
          <%= link_to "Excluir Evento", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o evento #{@event.title}?" }, class: "btn-cancel" %>
        <% end %>
      </div>

      <p class="card-sub-title-dashboard mt-3 mb-3"><%= @event.description %></p>

      <div class="d-flex col mb-4">
        <div class="d-flex col gap-2">
          <div class="d-flex gap-2 align-items-center">
            <%= image_tag "date_range.png" %>
            <p class="m-0 card-sub-title-dashboard"><strong>Data do Evento:</strong> <%= @event.date.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <%= image_tag "time.png", class: "" %>
            <p class="m-0 card-sub-title-dashboard">
              <% if @event.hour_start && @event.hour_finish %>
              <strong>Início:</strong> <%= @event.hour_start.strftime('%H:%M') %>
              <strong>| Fim:</strong> <%= @event.hour_finish.strftime('%H:%M') %>h
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <p><strong>Formato:</strong> <span class="card-sub-title-dashboard"><%= @event.event_type.capitalize %></span></p>

      <% if @event.program || @event.step %>
        <div>
          <% if @event.program %>
            <p><strong>Programa associado:</strong> <span class="card-sub-title-dashboard"><%= @event.program.title %></span> </p>
          <% end %>
          <% if @event.step %>
            <p><strong>Step associado:</strong> <span class="card-sub-title-dashboard"><%= @event.step.name %></span> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if policy(@event).edit? %>
    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link text-decoration-none" id="edit-event-tab" data-bs-toggle="tab" data-bs-target="#edit-event" type="button" role="tab" aria-controls="edit-event" aria-selected="true">
                  Editar Evento
                </a>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link position-relative active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Inscritos no evento
                <span class="badge rounded-pill bg-success position-absolute" style="top: 1; right: 1; transform: translate(20%, -20%);">
                  <%= @event.users.count %>
                  <span class="visually-hidden">inscritos no evento</span>
                </span>
              </button>
            </li>
        </ul>
    </div>
  <% end %>
</div>

<% if policy(@event).participate? %>
  <div class="d-flex justify-content-end">
    <div>
      <% if @event.users.include?(current_user) %>
        <p>Já se encontra inscrito neste evento!</p>
        <%= button_to 'Remover inscrição no evento', unregister_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
      <% else %>
        <%= button_to 'Participar neste evento', participate_event_path(@event), class: "btn-edit-profile text-decoration-none" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if policy(@event).edit? %>
  <div class="tab-content bg-white rounded-4 p-3 mb-4>" id="myTabContent">
    <div class="tab-pane fade" id="edit-event" role="tabpanel" aria-labelledby="edit-event-tab">
      <h3>Editar evento <%= @event.title %> </h3>
      <%= render 'event_form' %>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <p><strong>Total de inscritos no evento :</strong> <%= @event.users.count %></p>
      <% @event.users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    </div>
  </div>
<% end %>
