<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Dashboard</p>
</div>

<div class="programs-list row">
  <% @candidate_programs.each do |program_step| %>
    <div class="program-card col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100 bg-white rounded-4 d-flex flex-column pt-3">
        <div class="d-flex row card-body flex-grow-1">
            <%# Image program %>
            <% if program_step.program.image.attached? %>
              <%= image_tag program_step.program.image, class: "image-program-list position-relative" %>
            <% else %>
              <%= image_tag "temp_thumb.jpg", class: "image-program-list", alt: "default image program" %>
            <% end %>
            <%# Image program %>
            <span class="badge text-bg-primary badge-program-dashboard"><%= program_step.status %></span>
          <div class="d-flex justify-content-between align-items-center p-3">
            <p class="card-title-dashboard"><%= program_step.program.title %></p>
            <div class="badge text-bg-primary" style="height: 20px"><%= program_step.step.name %></div>
          </div>
          <p class="card-sub-title-dashboard mb-4 line-container"><%= program_step.program.description %></p>
          <ul class="list-unstyled d-flex gap-2 justify-content-center column flex-md-row flex-sm-column">
            <li class="card-date d-flex flex-column-reverse align-items-center justify-content-center border-dashed dark-gray-border p-2 px-4 col-md-6">
              <p class="m-0"><span>Data inicial<br>
                  <span><%= program_step.program.begin_date.strftime('%d/%m/%Y') %></p>
                </li>
                <li class="card-date d-flex flex-column-reverse align-items-center justify-content-center border-dashed dark-gray-border p-2 px-4 col-md-6">
                  <p class="m-0"><span>Data final<br>
                      <span><%= program_step.program.end_date.strftime('%d/%m/%Y') %></p>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between pt-3">
                    <%= link_to cancel_apply_to_program_path(program_step.program.id), method: :post, class: "btn" do %>
                      <i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
                    <% end %>

                    <%= link_to program_path(program_step.program) do %>
                      <%= image_tag "arrow-right.svg" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
