<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Dashboard</p>
</div>

<div class="programs-list row">
  <% @candidate_programs.each do |program_step| %>
    <div class="program-card col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100 bg-white rounded-4 d-flex flex-column pt-3">
        <div class="d-flex row card-body flex-grow-1">
            <%# Image program %>
            <% if program_step.program.image.attached? %>
              <%= image_tag program_step.program.image, class: "image-program-list position-relative" %>
            <% else %>
              <%= image_tag "temp_thumb.jpg", class: "image-program-list", alt: "default image program" %>
            <% end %>
            <%# Image program %>
            <span class="badge text-bg-primary badge-program-dashboard"><%= program_step.status %></span>
          <div class="d-flex justify-content-between align-items-center p-3">
            <p class="card-title-dashboard"><%= program_step.program.title %></p>
            <div class="badge text-bg-primary" style="height: 20px"><%= program_step.step.name %></div>
          </div>
          <p class="card-sub-title-dashboard mb-4 line-container"><%= program_step.program.description %></p>
          <ul class="list-unstyled d-flex gap-2 justify-content-center column flex-md-row flex-sm-column">
            <li class="card-date d-flex flex-column-reverse align-items-center justify-content-center border-dashed dark-gray-border p-2 px-4 col-md-6">
              <p class="m-0"><span>Data inicial<br>
                  <span><%= program_step.program.begin_date.strftime('%d/%m/%Y') %></p>
            </li>
            <li class="card-date d-flex flex-column-reverse align-items-center justify-content-center border-dashed dark-gray-border p-2 px-4 col-md-6">
              <p class="m-0"><span>Data final<br>
                  <span><%= program_step.program.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          </ul>
          <div class="d-flex justify-content-between pt-3">
            <%= link_to cancel_apply_to_program_path(program_step.program.id), method: :post, class: "btn" do %>
              <i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
            <% end %>
            <%= link_to program_path(program_step.program) do %>
              <%= image_tag "arrow-right.svg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% Program.active.each do |program| %>
  <div class="card bg-white rounded-4 mb-3 p-3">
    <h2><strong>Program: </strong><%= program.title %></h2>
    <p>Number of Users: <%= program.user_count %></p>

    <% program.steps.active.each do |step| %>
      <div class="mb-2">
        <h3><%= step.name %></h3>
        <p>Number of Users in Step: <%= step.user_count %></p>
        <p>Number of Submissions: <%= step.submissions_count %></p>
      </div>
    <% end %>

    <div class="mb-2">
      <h3>Gender Distribution</h3>
      <% program.gender_distribution.each do |gender, percentage| %>
        <p><%= gender %>: <%= percentage %> %</p>
      <% end %>
    </div>

    <div class="mb-2">
      <h3>Age Distribution</h3>
      <% program.age_distribution.each do |range, percentage| %>
        <p><%= range %>: <%= percentage %> %</p>
      <% end %>
    </div>
  </div>
<% end %>
