<div class="auth-container">
  <div class="auth-left-content">
    <%= image_tag "stepbytech-astro2.png", class: "auth-image" %>
  </div>
  <div class="auth-right-content">
    <%= image_tag "stepbytech-title-p-500.png", class: "auth-title" %>

    <p class="mt-5">Login to your account</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="auth-form">
        <div class="input-group">
          <%= content_tag(:i, nil, class: "fa-solid fa-envelope auth-icon") %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: "Email",
                      class: "input-group"
          %>
        </div>
        <div class="input-group">
          <%= content_tag(:i, nil, class: "fa-solid fa-lock auth-icon") %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      label: false,
                      placeholder: "Password",
                      class: "input-group"
          %>
        </div>
          <%= link_to "Forgot your password?", new_user_password_path, class:"auth-link d-flex flex-row-reverse" %>
        </div>

      <div class="form-actions mt-4">
        <%= f.button :submit, "Login", class: "primary-button" %>
      </div>

      <p style="font-size: 12px" class="text-center mt-3">Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name), class:"auth-link" %></p>
    <% end %>
</div>
