<div class="card-profile container mt-5">
    <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>
      <ul>
        <% @step.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [@program, @step], multipart: true, data: { controller: "datepicker" } do |f| %>
    <div class="mb-3">
      <%= f.input :image, as: :file, label: "Adicionar Imagem ao Step", input_html: { class: 'form-control bg-white' } %>
      <% if @step.image.attached? %>
        <p>Imagem Actual:</p>
        <%= image_tag @step.image, class: 'img-preview' %>
      <% end %>
    </div>
    <%= f.input :name, label: "Nome do Step", input_html: { class: 'form-control bg-white' } %>
    <%= f.input :step_order, label: "Ordem do Step", input_html: { class: 'form-control bg-white' } %>
    <div class="form-check form-switch mb-3">
      <%= f.check_box :submission, class: 'form-check-input', id: 'submissionSwitch' %>
      <%= f.label :submission, 'Submissão', class: 'form-check-label', for: 'submissionSwitch' %>
    </div>
    <div class="form-check form-switch mb-3">
      <%= f.check_box :active, class: 'form-check-input', id: 'activeSwitch' %>
      <%= f.label :active, 'Activo', class: 'form-check-label', for: 'activeSwitch' %>
    </div>
    <%= f.input :description, label: "Descrição", input_html: { class: 'form-control bg-white' } %>
    <%= f.input :format, label: "Formato", collection: ["Online", "Presencial"], prompt: "Selecione um formato", input_html: { class: 'form-control bg-white' } %>
    <div class="mb-3">
      <label for="step[dates]" class="form-label">Escolha as Datas</label>
      <input type="date" required class="datepicker form-control bg-white" name="step[dates]" data-mode="multiple" data-initial-values="<%= @step.dates.map { |date| date.strftime('%d/%m/%Y') }.join(",") %>" />
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= f.input :hour_start, label: "Hora de inicio das sessões", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :hour_finish, label: "Hora de fim das sessões", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

    <div class="d-flex justify-content-between py-6 px-9">
      <div class="text-end m-2 pt-3">
        <%= link_to @step.new_record? ? program_path(@step.program) : program_step_path(@program, @step) do %>
          <%= image_tag "arrow-left.svg" %>
        <% end %>
      </div>
      <%= f.button :submit, @step.new_record? ? 'Criar Step' : 'Atualizar Step', data: { confirm: 'Você tem certeza?' }, class: "btn-edit-profile" %>
    </div>
  <% end %>
</div>
