<h2>Novo Step para o Programa <%= @program.title %></h2>

<div class="container mt-5">
  <%= simple_form_for [@program, @step], data: { controller: "date-adder" }  do |f| %>
    <!-- Input fields for the step attributes -->

    <%= f.input :name, label: "Nome do Step", input_html: { class: 'form-control bg-white' } %>
    <%= f.input :step_order, label: "Ordem do Step", input_html: { class: 'form-control bg-white' } %>

    <div class="custom-control custom-checkbox mb-3">
      <%= f.input :submission, label: "Submission", as: :boolean, input_html: { class: 'custom-control-input' }, label_html: { class: 'custom-control-label' }, wrapper: false %>
    </div>

    <div class="custom-control custom-checkbox mb-3">
      <%= f.input :active, label: "Active", as: :boolean, input_html: { class: 'custom-control-input' }, label_html: { class: 'custom-control-label' }, wrapper: false %>
    </div>

    <%= f.input :description, label: "Descrição", input_html: { class: 'form-control bg-white' } %>
    <%= f.input :format, label: "Formato", collection: ["Online", "Presencial"], prompt: "Selecione um formato", input_html: { class: 'form-control bg-white' } %>

    <div id="date-picker-wrapper">
        <label for="date-picker">Dates:</label>
        <input type="date" data-date-adder-target="datePicker">
        <button type="button" data-action="click->date-adder#addDate">Escolha uma Data</button>
    </div>
    <ul data-date-adder-target="selectedDates"></ul>

    <%= f.hidden_field :dates, data: { date_adder_target: "datesArray" } %>


    <div class="row mb-3">
      <div class="col">
        <%= f.input :hour_start, label: "Hora de inicio das sessões", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
      <div class="col">
        <%= f.input :hour_finish, label: "Hora de fim das sessões", as: :time, input_html: { class: 'form-control bg-white' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Create Step", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
