<div class="bg-white rounded-4 p-3 mb-4">
  <div class="container mt-5">
  <h2>Detalhes do Step <%= @step.step_order%>: <%= @step.name %></h2>

  <div class="mb-3">
    <strong>Nome do Step:</strong> <%= @step.name %>
  </div>

  <div class="mb-3">
    <strong>Ordem do Step:</strong> <%= @step.step_order %>
  </div>

  <div class="mb-3">
    <strong>Submission:</strong> <%= @step.submission ? 'Yes' : 'No' %>
  </div>

  <div class="mb-3">
    <strong>Active:</strong> <%= @step.active ? 'Yes' : 'No' %>
  </div>

  <div class="mb-3">
    <strong>Descrição:</strong> <%= @step.description %>
  </div>

  <div class="mb-3">
    <strong>Formato:</strong> <%= @step.format %>
  </div>

  <div class="mb-3">
    <strong>Datas selecionadas:</strong>
    <ul>
      <% @step.dates.each do |date| %>
        <li><%= date.strftime('%B %d, %Y') %></li>
      <% end %>
    </ul>
  </div>

  <div class="mb-3">
    <strong>Hora de inicio das sessões:</strong> <%= @step.hour_start.strftime('%H:%M') unless @step.hour_start.nil? %>
  </div>

  <div class="mb-3">
    <strong>Hora de fim das sessões:</strong> <%= @step.hour_finish.strftime('%H:%M') unless @step.hour_finish.nil? %>
  </div>

  <%= link_to 'Voltar para os Steps', program_path(@step.program), class: 'btn btn-primary mt-3' %>
  <%= link_to 'Alterar', edit_program_step_path(@step.program, @step), class: 'btn btn-secondary mt-3' %>
  <%= link_to "Cancelar", program_step_path(@step.program, @step), data: {turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar o Step #{@step.step_order} - #{@step.name}?" }, class: "btn btn-danger mt-3" %>
</div>

</div>
