<div class="form-group">
  <%= f.label :program_id_for_step, "Programas para o Step: " %>
  <%= f.select :program_id_for_step,
               @programs.map { |p| [p.title, p.id] },
               { include_blank: "Seleccione um programa para o Step", selected: @post.program_id_for_step },
               class: "form-select",
               data: { post_form_target: "programForStepSelect", action: "change->post-form#updateSteps" } %>
</div>

<div class="form-group mb-5" data-post-step-id="<%= @post.step_id %>">
  <%= f.label :step_id, "Steps: " %>
  <%= f.select :step_id, [],
               { include_blank: "Seleccione um Step", selected: @post.step_id },
               class: "form-select",
               data: { post_form_target: "stepSelect" },
               id: "post_step_id" %>
</div>
