<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Galeria</p>
</div>

<div class="d-flex justify-content-between align-items-center mb-4 bg-white rounded-4 p-4">
  <h4>Galeria</h4>
  <%= link_to 'Criar Publicação', new_post_path, class: 'btn-edit-profile text-decoration-none' %>
</div>

<div class="posts-list">
  <% @posts.each do |post| %>
    <div class="card bg-white rounded-4 mb-3 p-3">
      <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <h5 class="post-title"><%= post.title %></h5>
        <div>
          <%= link_to edit_post_path(post), class: 'text-primary text-decoration-none me-2' do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza que pretende cancelar a publicação #{post.title}?"}, class: 'text-danger me-2' do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <p class="post-text"><%= post.body %></p>
      </div>

      <%# render associations here %>
      <div class="card-body">
        <% if post.event.present? %>
          <p>Event: <%= post.event.title %></p>
        <% end %>

        <% if post.program.present? %>
          <p>Program: <%= post.program.title %></p>
        <% end %>

        <% if post.step.present? %>
          <p>Step: <%= post.step.name %></p>
        <% end %>
      </div>

      <% if post.media_contents.attached? %>
        <div class="card-body">
          <% post.media_contents.each do |media_content| %>
            <% if media_content.content_type.start_with?('image/') %>
              <%= image_tag(media_content, width: 150, height: 150, class: 'img-thumbnail me-2') %>
            <% elsif media_content.content_type.start_with?('video/') %>
              <video width="320" height="240" controls class="me-2">
                <source src="<%= url_for(media_content) %>" type="<%= media_content.content_type %>">
                Your browser does not support the video tag.
              </video>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
