<!DOCTYPE html>
<html>
<head>
  <title>Confirmação de Participação no Evento: <%= @event.title %></title>
</head>
<body>
  <p>Olá <%= @user.name.capitalize %>,</p>
  <p>Você se inscreveu com sucesso no evento "<strong><%= @event.title %></strong>". Aqui estão os detalhes do evento:</p>

  <p><strong>Data do Evento:</strong> <%= @event.date.strftime('%d/%m/%Y') %></p>
  <p><strong>Horário:</strong> <%= @event.hour_start.strftime('%H:%M') %> - <%= @event.hour_finish.strftime('%H:%M') %></p>

  <p><strong>Descrição:</strong> <%= @event.description.body.to_s.html_safe %></p>

  <% if @event.event_type == 'online' %>
    <p>O evento será realizado online. Você pode participar do evento através deste link: <%= link_to 'Clique aqui para acessar o evento', @event.event_link %></p>
  <% elsif @event.event_type == 'presencial' %>
    <p>O evento será realizado presencialmente no seguinte local: <%= @event.event_location %></p>
  <% end %>

  <% if @event.program.present? %>
    <p><strong>Programa Associado:</strong> <%= @event.program.title %></p>
    <% if @event.step.present? %>
      <p><strong>Step: <%= @event.step.step_order %></strong> <%= @event.step.name %></p>
    <% end %>
  <% end %>

  <p>Esperamos por você!</p>
  <p>Atenciosamente,</p>
  <p>StepByTech</p>
</body>
</html>
