<!DOCTYPE html>
<html>
  <head>
    <title>StepByTech</title>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'trix' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/dashboard_sidebar" %>
    <div>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
